
.App-header {
  background-color: #222;
  height: 110px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.nav-service{
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  background: #eee;
  border: 1px solid #ddd;
}

/* provide-service-form */

.provide-service-form{
  width: 400px;
  margin: 30px auto;
}